 
 body{
  
    box-sizing: border-box;
    width: 340px;
    height: 700px;
}
.container{
    width: 300px;
    height: 640px;
    background-image: linear-gradient(#ebe5e5,#641446,#03031a,#14155e,#0f1041,#ebe5e5) ;
    margin-right: 59px;
  margin-top: 20px;
    border-radius: 30px;
    border: 8px solid black;  
   
}
button{
    border-style: none;
}
ul li{
    list-style: none;
}
.time{
   color:dark;
   font-weight: bold;
   font-size: large;
}
div p{
    font-size:x-small;
}
.cont{

}
.weather{
    width: 120px;
    background-image: linear-gradient(#14155e,#3b3c7b,#ebe5e5);
    height:120px ;
 opacity: 40%;

}

.calender{
    width: 120px;
    background-image: linear-gradient(#8484ac,#a1a3f5,#ebe5e5);
    height:120px ;
    opacity: 30%;
}
.footer{
    background-image: linear-gradient(#14155e,#c7c0c0);
 
    opacity: 90%;

}